
.parallax {
    /* The image used */
    background-image: url("../images/Ecotone2.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    margin-top: 0;
    border-top: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.topbar {
  height:10px;
  background-color:#3b3b19;
}
 .bodycontainer{
   height:1000px;
   background-color:white;
 }

.title {
	font-family: 'Shadows Into Light Two', cursive;
	color: #ffffff;
	text-align: center;
	}

.navtext {
	font-family: 'Shadows Into Light Two', cursive;
	color: #ffffff;
	text-align: center;
	}

.container {
	background-color: #729f98;
	margin: 0;
}

.main-nav li {
	list-style: none;
}



/*body styles*/

body {
	margin-top: 0;
  padding-top: 0px;
}

a {
	text-decoration: none;
	}

.headshot {
  border-radius: 50%;
  border-width: thin;
  border-color: darkgreen;
  align-items: center;
  height: 25%;
  width: 25%;

}
.bodytext {
 	font-family: 'Raleway', sans-serif;
	line-height: 1.5em;
	margin-left: 5em;
	margin-right: 5em;
}

.headingtext {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5em;
	margin-left: 4em;
	margin-right: 5em;

}

.carouselwidth {
	width:50%;
	margin: auto;
}

/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
height:350px;
    width: 50%;
    margin:auto;
	}

/*flip animation modified from: david walsh */

/* entire container, keeps perspective */
.flip-container {
	perspective: 100%;
	margin-left: 5em;
	margin-right: 2em;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 325px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


/* media queries*/

@media (min-width: 769px) {

	/* body {
		padding-top: 10em;

	} */
  .centered {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Raleway';
    	color: #ffffff;
      text-align: center;
      z-index: 1;

  }

  /* .corners {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 20px;
      z-index: -1;

  }
  .corners:before {
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: -50em;
      left: -10px;
      border-top: 1px solid white;
      border-left: 1px solid white;
  }
  .corners:after {
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: -10px;
      right: -10px;
      border-top: 1px solid white;
      border-right: 1px solid white;
  } */
  span:before {
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -10px;
      left: -10px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
  }
  span:after {
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -10px;
      right: -10px;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
  }

	.main-header {
		position: fixed;
		background: #729f98;
		width: 100%;
		top: 0;
		z-index: 9999;
    align-content: center;
		padding-left: 35%;
		 padding-right: 10em;
	}

	.title {
		float: left;
		padding-left: 25px;
	}


	.main-nav {
		display: inline;
		float: centered;
	}

	.main-nav li{
		display: inline;
		list-style: none;
		margin-left: 20px;
		padding-right: 25px;
    align-content: center;
		float: left;
	}

	.skillsrec {
	  padding-left: 10px;
	  padding-right: 10px;
	  margin: auto;
	  width: 85%;
	}


	.skills {
		float: left;
		width: 50%;
	}

	.recs {
		float: right;
		width: 50%;
	}

  .alignment{
    padding-left: .5em;
  }


  .alignmentR{
    padding-left: 5em;
  }
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}

/*@media (min-width: 1025px) {


	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

}
*/
